* {
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  --normal-size: 18px;

  --head-font: "Poppins", sans-serif;
  --head-weight: 600;

  --body-font: "Open Sans", sans-serif;
  --body-weight: 400;
  --body-weight2: 700;
}

@keyframes moveRight {
  from {
    right: -700px;
  }
  to {
    right: 0;
  }
}

@keyframes moveLeft {
  from {
    left: -700px;
  }
  to {
    left: 0;
  }
}

@keyframes moveUp {
  from {
    opacity: 0.2;
    line-height: 100px;
  }
  to {
    opacity: 1;
    line-height: 25px;
  }
}

@media screen and (max-width: 1440px) {
  main {
    background-color: var(--pale-cyan);
    background-image: url(./images/bg-hero-desktop.svg);
    padding: 2em;
  }

  nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 50px;
  }

  nav img {
    width: 110px;
    padding: 10px;
  }
  nav button {
    padding: 10px 2em;
    background: white;
    border: none;
    border-radius: 20px;
    color: var(--dark-cyan);
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
  }

  nav button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(128, 127, 127, 0.568);
  }

  .main {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  .left {
    width: 50%;
    padding: 3em;
    padding-top: 100px;
  }

  .left h1 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    padding-bottom: 20px;
    position: relative;
    animation: moveLeft 1.5s ease-in;
  }

  .left p {
    font-family: var(--body-font);
    color: var(--dark-cyan);
    font-weight: var(--body-weight);
    padding-bottom: 20px;
    position: relative;
    animation: moveLeft 1.5s ease-in;
    animation-delay: 0.3s;
  }

  .left button {
    padding: 1em;
    width: 50%;
    color: white;
    background-color: var(--pink);
    border: none;
    border-radius: 20px;
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
    position: relative;
    animation: moveLeft 1.5s ease-in;
    animation-delay: 0.4s;
  }

  .left button:hover {
    cursor: pointer;
    background: hsl(322, 72%, 69%);
    box-shadow: 0 2px 5px var(--pink);
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right img {
    width: 100%;
    margin: 0 auto;
  }

  #img {
    position: relative;
    animation: moveRight 1.5s ease-in;
  }

  section {
    padding: 100px 0px 100px 0px;
  }

  section .container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(211, 207, 207, 0.603);
    width: 70%;
    margin: auto;
    padding: 2em;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    animation: moveUp 1.5s ease-in;
  }

  .text {
    width: 50%;
    padding: 50px;
    padding-top: 150px;
  }

  .text h2 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    padding-bottom: 10px;
  }

  .text p {
    font-family: var(--body-font);
    color: var(--grayish-blue);
    font-weight: var(--body-weight);
    padding-bottom: 20px;
  }

  .container img {
    width: 100%;
    margin: 0 auto;
  }

  aside {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(53, 53, 53, 0.342);
    width: 50%;
    margin: auto;
    margin-bottom: -80px;
    padding: 4em;
    position: relative;
    z-index: 2;
    text-align: center;
    position: relative;
    animation: moveLeft 1.5s ease-in;
    animation-delay: 0.4s;
  }

  aside h2 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    padding-bottom: 30px;
    font-size: 30px;
  }

  aside button {
    padding: 1.5em;
    width: 50%;
    color: white;
    background-color: var(--pink);
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
    box-shadow: 0px 5px 5px rgba(53, 53, 53, 0.342);
  }

  aside button:hover {
    cursor: pointer;
    background: hsl(322, 72%, 69%);
  }

  footer {
    background-color: var(--dark-cyan);
    padding: 2em;
    padding-top: 150px;
  }
  .img-contain {
    width: 90%;
    margin: auto;
  }

  .img-contain img {
    width: 20%;
    display: block;
  }

  footer .contain {
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  footer .contain .cont-cont {
    width: 40%;
    padding: 20px;
    padding-left: 0;
  }

  .contain > div {
    width: 20%;
    padding: 20px;
  }

  .contact {
    display: flex;
    width: 100%;
    /* padding-bottom: 15px; */
  }

  .contact img {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  .contact p {
    padding: 10px;
  }

  .contain {
    font-family: var(--body-font);
    color: white;
    font-weight: var(--body-weight);
    padding-bottom: 20px;
  }
  .contain ul {
    list-style-type: none;
    margin-left: 20px;
    line-height: 40px;
  }

  .contain a {
    text-decoration: none;
  }
  .contain a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .socials a {
    padding: 10px;
    font-size: 25px;
    text-align: right;
  }

  .socials a:hover {
    cursor: pointer;
    color: hsl(322, 72%, 69%);
  }

  .copy {
    width: 95%;
    font-family: var(--body-font);
    color: white;
    font-size: 10px;
    font-weight: var(--body-weight);
    text-align: right;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  html {
    width: 100%;
  }

  main {
    background-color: var(--pale-cyan);
    background-image: url(./images/bg-hero-mobile.svg);
    padding: 1em;
    width: 90%;
  }

  nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 50px;
  }

  nav img {
    width: 25%;
    height: auto;
    padding: 10px;
  }
  nav button {
    padding: 5px 1em;
    background: white;
    border: none;
    border-radius: 20px;
    color: var(--dark-cyan);
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
  }

  nav button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(128, 127, 127, 0.568);
  }

  .main {
    text-align: center;
    display: block;
    margin: auto;
  }

  .left {
    width: 90%;
    padding: 1em;
    padding-top: 100px;
  }

  .left h1 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    padding-bottom: 10px;
  }

  .left p {
    font-family: var(--body-font);
    color: var(--dark-cyan);
    font-weight: var(--body-weight);
    padding-bottom: 20px;
  }
  .left button {
    padding: 1em;
    width: 70%;
    color: white;
    background-color: var(--pink);
    border: none;
    border-radius: 20px;
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
    margin-bottom: 50px;
  }

  .left button:hover {
    cursor: pointer;
    background: hsl(322, 72%, 69%);
    box-shadow: 0 2px 5px var(--pink);
  }

  .right {
    width: 100%;
    margin: auto;
  }

  .right img {
    width: 100%;
    margin: 0 auto;
  }

  section {
    padding: 100px 0px 100px 0px;
  }

  section .container {
    display: block;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(211, 207, 207, 0.603);
    width: 70%;
    margin: auto;
    padding: 2em;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  section .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .text {
    padding: 0;
    width: 100%;
    margin: auto;
    padding-top: 40px;
  }

  .text h2 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    font-size: 20px;
  }

  .text p {
    font-family: var(--body-font);
    color: var(--grayish-blue);
    font-weight: var(--body-weight);
    padding-bottom: 20px;
  }

  aside {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(53, 53, 53, 0.342);
    width: 90%;
    margin: auto;
    margin-bottom: -60px;
    padding: 5px;
    padding-top: 30px;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  aside h2 {
    font-family: var(--head-font);
    font-weight: var(--head-weight);
    color: var(--dark-cyan);
    padding-bottom: 15px;
    font-size: 18px;
  }

  aside button {
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    color: white;
    background-color: var(--pink);
    border: none;
    border-radius: 40px;
    font-size: 10px;
    font-family: var(--body-font);
    font-weight: var(--body-weight2);
    box-shadow: 0px 5px 5px rgba(53, 53, 53, 0.342);
  }

  aside button:hover {
    cursor: pointer;
    background: hsl(322, 72%, 69%);
  }

  footer .contain {
    width: 95%;
    margin: auto;
    color: white;
    display: block;
  }

  .img-contain img {
    width: 40%;
  }

  footer .contain .cont-cont {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }

  .contact {
    display: flex;
    width: 100%;
    /* padding-bottom: 15px; */
  }

  .contact img {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .contain > div {
    padding: 0px;
    margin: 0px;
    width: 95%;
  }
  .contain {
    font-family: var(--body-font);
    color: white;
    font-weight: var(--body-weight);
    padding-bottom: 20px;
  }
  .contain ul {
    list-style-type: none;
    line-height: 40px;
    padding-left: 0;
    margin-left: 0px;
  }

  .contain a {
    text-decoration: none;
  }
  .contain a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  footer .contain .socials {
    width: 50%;
    margin: auto;
    margin-top: 60px;
  }

  .socials a {
    width: 90%;
    margin: auto;
    font-size: 25px;
    text-align: center;
  }

  .socials a:hover {
    cursor: pointer;
    color: hsl(322, 72%, 69%);
  }

  .copy {
    width: 95%;
    font-family: var(--body-font);
    color: white;
    font-size: 10px;
    font-weight: var(--body-weight);
    text-align: center;
    padding-bottom: 40px;
  }
}
